th, td {    
    text-align: left;  
    vertical-align: top;
}

table tbody tr td a {
    text-decoration: none;
}

table tbody tr td a:hover {
    color: green;
}

table thead tr td button {
    background-color: none;
    border: none;
    text-align: left;
    text-decoration: underline;
    margin: 0;
    padding: 0;
}

table thead tr td button:hover {
    text-decoration: none;
} 

.completed {
    text-decoration: line-through;
}