th, td {    
    text-align: left;  
    vertical-align: top;
}

table tbody tr td a {
    text-decoration: none;
}

table tbody tr td a:hover {
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
}