th, td {    
    text-align: left;  
    vertical-align: top;
}

table tbody tr td a {
    text-decoration: none;
}

table tbody tr td a:hover {
    color: green;
}

table thead tr td button {
    background-color: none;
    border: none;
    text-align: left;
    text-decoration: none;
    padding: 0.5em;
    margin-bottom: 1px;
    min-width: 60px;
}

table thead tr td button:hover {
    background-color: #CCC;
} 

thead button.ascending::after {
    content: '\2191';
    margin-left: 1em;
}

thead button.descending::after {
    content: '\2193';
    margin-left: 1em;
}

thead button#completed {
    min-width: 105px;
}

thead button#completed.ascending::after {
    content: 'Y';
    margin-left: 1em;
}

thead button#completed.descending::after {
    content: 'N';
    margin-left: 1em;
}

.completed {
    text-decoration: line-through;
}